In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("csv_files/real_estate.csv")
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

## Changing Columns Name & Dropping Unused Columns

In [3]:
df.rename(columns={  df.columns[2]: "x1_house_age", df.columns[3]: "x2_nearest_mrt_station", df.columns[4]: "x3_no_conv_store", df.columns[7]: 'y_price_per_unit' }, inplace=True)
df.drop(['No', 'X1 transaction date', 'X5 latitude', 'X6 longitude'], axis=1, inplace=True)
df.head()

   x1_house_age  x2_nearest_mrt_station  x3_no_conv_store  y_price_per_unit
0          32.0                84.87882                10              37.9
1          19.5               306.59470                 9              42.2
2          13.3               561.98450                 5              47.3
3          13.3               561.98450                 5              54.8
4           5.0               390.56840                 5              43.1

## Testing and Training Data

In [4]:
X = df[["x1_house_age", 'x2_nearest_mrt_station', 'x3_no_conv_store']]
Y = df[['y_price_per_unit']]

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, train_size=0.8, random_state=10)

In [6]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

331
83
331
83

In [7]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
model.predict(x_test)

array([[17.60235346],
       [39.59859742],
       [47.49662409],
       [42.2991886 ],
       [50.33941477],
       [17.46525015],
       [41.62960479],
       [51.92209968],
       [42.29080117],
       [33.83151006],
       [34.22886563],
       [37.78774621],
       [35.07121625],
       [46.3184916 ],
       [17.6393423 ],
       [43.22920107],
       [28.02119654],
       [41.62960479],
       [35.89627084],
       [47.5409737 ],
       [43.40797821],
       [42.70829211],
       [30.56192234],
       [33.16631526],
       [28.82812752],
       [43.76190196],
       [46.34367087],
       [34.37141746],
       [17.48851002],
       [38.81446936],
       [28.55241267],
       [35.10232068],
       [31.39697892],
       [41.63328398],
       [41.68670849],
       [49.15676681],
       [32.5448065 ],
       [42.95772887],
       [43.28028025],
       [51.94763927],
       [48.9770885 ],
       [39.49698097],
       [32.97650489],
       [46.19358234],
       [30.51128525],
       [38.27113813],
       [33.95473964],
       [40.75919894],
       [48.72408672],
       [38.34431889],
       [35.9893478 ],
       [46.34367087],
       [33.70082777],
       [50.99389582],
       [33.83151006],
       [32.73498486],
       [31.11386881],
       [48.95154891],
       [45.62295658],
       [41.71224808],
       [43.11096642],
       [43.1403227 ],
       [43.28028025],
       [41.89647175],
       [34.39695706],
       [43.73556159],
       [37.04747181],
       [37.97009044],
       [42.95772887],
       [40.01571709],
       [48.95154891],
       [48.18893015],
       [33.77327991],
       [42.45068111],
       [38.3597424 ],
       [29.81108449],
       [17.43743084],
       [40.42423853],
       [19.40647238],
       [34.39695706],
       [37.29227124],
       [46.0148052 ],
       [44.21996536]])

In [12]:
y_test

     y_price_per_unit
231              14.7
322              33.1
1                42.2
72               36.3
291              54.4
..                ...
194              29.3
131              30.7
317              37.5
355              60.7
114              53.3

[83 rows x 1 columns]

## Checking the Score of the Model

In [9]:
model.score(x_test, y_test)

0.5783183099662288

###### 0.57! That is 57% score! This model is quite bad due to the nature of the dataset. Therefore, it is unsuitable to use Linear Regression to predict.